<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>NLO Project</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="header">
        <img class="logo" src="" alt="nlp project" width="100" />
        <div class="title">NLP Project</div>
      </div>
    </header>

    <main>
      <section class="form-section">
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <textarea
            class="text-input"
            name="input"
            placeholder="What's happening?"
            oninput="Client.handleChange(event)"
          ></textarea>
          <div class="counter">20</div>
          <svg height="100" width="100">
            <circle
              cx="50%"
              cy="50%"
              r="9"
              stroke="#1DA1F2"
              stroke-linecap="round"
              stroke-width="2"
              fill="none"
              style="stroke-dashoffset: 59; stroke-dasharray: 60"
            />
          </svg>

          <button
            class="post-btn"
            onclick="return Client.handleSubmit(event)"
            disabled
          >
            Send
          </button>
        </form>
      </section>

      <section class="result-container">
        <h1>Analysis Result</h1>
        <div class="slider slider-2" id="agreement">
          <div class="circle"><span>Agreement</span></div>
          <div class="line"></div>
          <div class="circle"><span>Disagreement</span></div>
        </div>
        <div class="slider slider-2" id="subjectivity">
          <div class="circle"><span>Objective</span></div>
          <div class="line"></div>
          <div class="circle"><span>Subjective</span></div>
        </div>
        <div class="slider slider-2" id="irony">
          <div class="circle"><span>Non Ironic</span></div>
          <div class="line"></div>
          <div class="circle"><span>Ironic</span></div>
        </div>
        <div class="slider slider-n" id="confidence">
          <div class="line-back"></div>
          <div class="line-front">
            <span class="label">Confidence : 0</span>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p>
        Part of
        <a
          href="https://www.udacity.com/course/front-end-web-developer-nanodegree--nd0011"
          >@Udacity</a
        >
        Front-End Developer Nanodegree
      </p>
    </footer>
    <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
              });
            }
            </script> -->
  </body>
</html>
